<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<section>
  <div class=" container row justify-content-center m-auto">
    <div class="ml-5 col-md-6">
      <h2 class="text-center mt-5">Add coupon</h2>
      <form id="addcoupon" action="/admin/add-coupon" method="post">
       {{#if exist}}
       
       <script>
            Swal.fire({
  text: 'Coupon already exist',
  target: '#custom-target',
  customClass: {
    container: 'position-absolute'
  },
  toast: true,
  position: 'center'
})
          </script>
          {{/if}}
        <label for="">Name</label>
        <input type="text" name="name" class="form-control" ><br>
        <label for="">Code</label>
        <input type="text" name="code" class="form-control" ><br>
        <label for=""> Description</label>
        <input type="text" name="description" id="description" class="form-control" ><br>
          
        
        <label for="">Discount</label>
        <input type="number" id="discount" name="percentage" class="form-control" ><br>
        
        
        
        
        


        <button type="submit" class="btn btn-success mt-4">Add</button>

      </form>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
<script>
  $("#addcoupon").validate({
    errorClass:"validerror",
    rules: {
      name: {
        required: true
        
      },
      code: {
        required: true
        
      },
      description: {
        required: true
        
      },
      discount: {
        required: true
        
      },
    }
  });

</script>