body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 5px;
    max-width: 400px;
    /* height: 520px; */
    border: 1px solid #D11024;
    border-radius: 20px;
    background-color: #ffff;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }